<h1>Новый заказ на сайте {{ order.id }} </h1>

{% include 'orders/items.html.twig' with {'order': order} %}

<p>Имя: {{ order.costomerName }}</p>
<p>Email: {{ order.email }}</p>
<p>телефон: {{ order.phone }}</p>
<p>адрес: {{ order.address }}</p>